* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.centro {
        margin: 5px;
        padding: 55px;
        font-size: 12px;
        margin: 0 auto;
        margin-top: 100px;
    }

    nav {
        text-align: center;
    }

    nav li {
        display: inline;
        margin: 15px;
        padding: 17px;
        background-color: rgb(24, 70, 30);
        border-radius: 12px;
        box-shadow: inset 0px 9px 9px rgba(0, 0, 0, 0.527);
        list-style: none;
        transition: 7s;
    }

    nav li:hover {
        display: inline;
        margin: 17px;
        padding: 15px;
        background-color: rgb(24, 70, 30);
        border-radius: 12px;
        box-shadow: inset 0px 9px 9px rgb(0, 0, 0);
        list-style: none;
        transition: 7s;
    }



    #alinhamento {
        text-align: center;
        font-size: 30px;
        margin-top: 46px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    p {
        background-color: rgb(212, 210, 210);
        margin: 20px;
        padding: 20px;
        font-size: 20px;
        color:rgb(0, 0, 0);
        border-radius: 12px;
        text-align: center;
    }